---
layout: nav_default

# title: string
---

<h1><a href="{{ page.source }}">Sursă</a></h1>

<br>
<b>Porții:</b> {{ page.servings }}

{{ site.ingredients | where: "name", "lapte"  }}


{% assign lapte = site.ingredients | where: "name", "lapte" | first %}

{{lapte.url}}


{{ site.ingredients }}

{% for ing in site.ingredients %}
  {{ing}}<br>
  {{ing.url}}<br>
  {{ing.content}}<br>
{% endfor %}

<h1>Ingrediente</h1>

<ul>
  {% for page_ingredient in page.ingredients %}
    {% for site_ingredient in site.ingredients %}
      {% if site_ingredient.name == page_ingredient.type %}
      <li>
        <a href="{{ site_ingredient.url }}">{{ page_ingredient.type }}</a> ({{ page_ingredient.qty }} {{ page_ingredient.unit }})
      </li> 
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

<h1>Ingrediente</h1>

<ul>
  {% for page_ingredient in page.ingredients %}
    {% assign ingredient = site.ingredients | find: "name", page_ingredient.type %}
      <li>
        {{ ingredient }} <br>
        {{ingredient.url}} <br>
        <a href="{{ ingredient.url }}">{{ page_ingredient.type }}</a> ({{ page_ingredient.qty }} {{ page_ingredient.unit }})
      </li> 
  {% endfor %}
</ul>



<h1>Preparare</h1>

{{ content }}
