---
layout: nav_default

# title: string
---

<h1>Sursă</h1>
{{ page.source }}

<b>Porții:</b> {{ page.servings }}

<h1>Ingrediente</h1>

<ul>
  {% for page_ingredient in page.ingredients %}
    {% for site_ingredient in site.ingredients %}
      {% if site_ingredient.name == page_ingredient.type %}
      <li>
        <a href="{{ site_ingredient.url }}">{{ page_ingredient.type }}</a> ({{ page_ingredient.qty }} {{ page_ingredient.unit }})
      </li> 
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

<h1>Preparare</h1>

{{ content }}
