---
layout: nav_default

# title: string
---

<h1><a href="{{ page.source }}">Sursă</a></h1>

<br>
<b>Porții:</b> {{ page.servings }}
<br>

<h1>Ingrediente</h1>

<ul>
  {% for page_ingredient in page.ingredients %}
    {% assign ingredient = site.ingredients | where: "name", page_ingredient.type | first %}
      <li>
        <a href="{{ ingredient.url }}">{{ page_ingredient.type }}</a> ({{ page_ingredient.qty }} {{ page_ingredient.unit }})
      </li> 
  {% endfor %}
</ul>



<h1>Preparare</h1>

{{ content }}
